/* import my fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Roboto Slab', serif;
    --hot-color: rgba(242, 48, 119, 1);
    --link-color: rgba(2, 103, 114, 1);
    --text-color: rgba(1, 64, 89, 1);
    --background-color: rgb(247, 234, 208);
    --accent-color: rgba(2, 140, 126, 1);
    --background-image: url("../img/bg.jpeg");  
}

/* reset.css */
@layer reset {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        margin: unset;
    }

    button,
    input,
    textarea,
    select {
        font: inherit;
    }

    img,
    picture,
    svg,
    canvas {
        display: block;
        max-inline-size: 100%;
        block-size: auto;
    }

    @media (prefers-reduced-motion: reduce) {

        *,
        *::before,
        *::after {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
        }
    }
}

body {
    font-family: var(--secondary-font);
    color: var(--text-color);
    background: var(--background-color);
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
    font-family: var(--primary-font);
}

/* clearfix */
.cf::after {
    content: "";
    display: table;
    clear: both;
}

/* fun centering */
.container {
    width: 100%;
    margin: 0 auto;
}

/* header en navigation */
header.main {
    background-image: var(--background-image);
    background-size: cover;
    height:200px;
    border-bottom: 5px solid var(--text-color);
}

.logo-text {
    background-color: var(--link-color);
    width: 100%;
    color: var(--background-color);
    font-size: 4rem;
    font-weight: bold;
    float: left;
    mix-blend-mode: color-burn;
    padding-left: 3rem;
}

.logo-text a {
    color: inherit;
}

header>nav { 
    float: right; /* zet nav rechts, maar hou de volgorde intact */
    padding-top: 1rem;
}

nav a {
    color: var(--text-color);
    font-size: large;
    font-weight: bold;
    padding: 0 2rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: white;
}

aside {
    float: right;
    width: 20%;
    padding: 1em;
    border-left: 5px solid var(--accent-color);
    background-color: var(--accent-color);
}

main {
    margin-right: 22%;
    padding: 1em;
    flex: 1;
}

.subfooter {
    display: flex;
    justify-content: space-around;
    padding: calc(2em + 1vw);
    background-color: var(--accent-color);
}

.column {
    /* Stijlen voor de kolommen in de subfooter */
}

footer {
    text-align: center;
    padding: 1em;
    background-color: var(--link-color);
    /* Donkerdere tint voor de footer */
    color: white;
}
