/*
EINDOPDRACHT CSS
Kleuren:
Rood: #af2100 (donker / hover) #9e1d00
Grijswaarden: #bdbdbd #656565 #aeaeae
 */

/* Reset some basic elements */
body,
h1,
h2,
h3,
ul {
    margin: 0;
    padding: 0;
}

/* Variables */
:root {
    --red: #af2100;
    --red-dark: #9e1d00;
    --grey-light: #bdbdbd;
    --grey: #656565;
    --grey-dark: #aeaeae;

    --font-family: 'Arial', sans-serif;
}

/* Basic styling */
body {
    font-family: var(--font-family);
    line-height: 1.6;
    background: url(./img/white-bg.png);
    color: black;
}

div.container {
    width: calc(100% - 175px - 190px);
    margin: 0 auto;
}

/* Header */
header {
    height: 250px;
}

header h1 {
    width: 235px;
    height: 200px;
    color: white;
    text-align: center;
    /* align text to bottom */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--red);
    border-bottom: 10px solid var(--red-dark);
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--red-dark);
    /* set font to lowercase */
    text-transform: lowercase;
    font-weight: bold;
}


.articles article {
    margin: 20px;
    padding: 20px;
}

.articles time {
    font-style: italic;
    color: #999;
}

.articles h2 {
    color: #333;
}

.articles p {
    color: #666;
}

.read-more {
    color: white;
    text-decoration: none;
    display: block;
    width: 190px;
    background-color: var(--red-dark);
    text-align: center;
    font-style: italic;
}

/* Footer */
.footer-container {
    background: url("./img/black-bg.png");
    color: white;
    padding: 20px;
}

footer {  
    width: 80%;
    margin: 10px auto;
    display: flex;
    /* flex-direction: row; -- default */
    justify-content: space-evenly;
    padding: 20px;
}

footer h3 {
    color: var(--grey);
    font-size: 25px;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li a {
    text-decoration: none;
    color: white;
    display: block;
    line-height: 2.5;
    font-style: italic;
}