/*
EINDOPDRACHT CSS
Kleuren:
Rood: #af2100 (donker / hover) #9e1d00
Grijswaarden: #bdbdbd #656565 #aeaeae
 */

/* Reset some basic elements */
body,
h1,
h2,
h3,
ul {
    margin: 0;
    padding: 0;
}

/* Variables */
:root {
    --red: #af2100;
    --red-dark: #9e1d00;
    --grey-light: #bdbdbd;
    --grey: #656565;
    --grey-dark: #aeaeae;

    --font-family: 'Arial', sans-serif;
}

/* Basic styling */
body {
    font-family: var(--font-family);
    line-height: 1.6;
    background: url(./img/white-bg.png);
    color: var(--grey);
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--red-dark);
    /* set font to lowercase */
    text-transform: lowercase;
    font-weight: bold;
}

header h1 {
    font-size: 60px;
    color: var(--grey-light);
    text-align: left;
    padding-left: 20px;
    background-color: var(--red);
    border-bottom: 5px solid var(--red-dark);
}

.articles article {
    margin: 20px;
    padding: 20px;
}

.articles time {
    font-style: italic;
    color: #999;
}

.articles h2 {
    color: #333;
}

.articles p {
    color: #666;
}

.read-more {
    color: #900;
    text-decoration: none;
}

footer {
    background: url("./img/black-bg.png");
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer-column h3 {
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li a {
    text-decoration: none;
    color: white;
    display: block;
    line-height: 2.5;
    font-style: italic;
}