/* clearfix */
.cf::after {
    content: "";
    display: table;
    clear: both;
}

body {
    margin: unset;
    font-family: sans-serif;
    color: rgb(75, 75, 75);
    line-height: 1.5rem;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    text-decoration: underline;
}

.main-header {
    background-color: rgb(36,36,36);
    padding: 2rem 0;
    margin-bottom: 4rem;
}

.container {
    width: 1000px;
    margin: 0 auto;
}   

.logo {
    color: white;
    float: left;
}

.logo a {
    color: inherit;
}

.main-nav {
    float: right;
    margin-top: 2rem;
    margin-right: -2rem;
}

.main-nav a {
    color: gray;
    padding: 0 2rem;
}

.main-nav a:hover {
    color: white;
    text-decoration: none;
}

.page-title {
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    margin-top: 0;
    margin-bottom: 4rem;
    font-size: 2rem;
    color: rgb(46, 46, 46);
}

/* teasers */
.teaser {
    border-bottom: 1px solid black;
    padding: 2rem 0;
}

.teaser:first-of-type {
    padding-top: 0;
}

.teaser:last-of-type {
    border-bottom: none;
}

.teaser-title {
    font-family: serif;
    color: black;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.teaser-title a {
    color: inherit;
}

.teaser-info {
    margin-top: 0;
    color: rgb(128,128,128);
    text-transform: lowercase;
    font-size: .8rem;
}

.teaser-tag-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: .8rem;
    margin-left: -.5rem;
    float: left;
}

.teaser-tag-list li {
    float: left;
    margin: 0 .5rem;;
}

.tag {
    background-color: black;
    color: white;
    padding: .2rem .4rem;
    border-radius: .25rem;
}

.teaser-btn {
    float: right;
}

/* columns */
.page-main {
    width: 70%;
    float: left;
}

.page-sidebar {
    width: 25%;
    float: right;
}

/* sidebar */
.sidebar-block {
    background-color: rgb(220, 220, 220);
    padding: .5rem;
    overflow: hidden;
    margin-bottom: 1rem;
}


.sidebar-title {
    margin-top: 0;
    border-bottom: 1px solid rgb(172, 172, 172);
}

/* subfooter */
.subfooter {
    background-color: rgb(205, 205, 205);
    padding: 2rem 0;
    margin-top: 4rem;
}

.subfooter-col {
    width: 30%;
    margin-right: 5%;
    float: left;
}

.subfooter-col:last-child {
    margin-right: 0;
}

.subfooter-sitemap {
    padding-left: 1rem;
    list-style: none;
}

.subfooter-title {
    font-size: 1.5em;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color:rgba(0, 0, 0, 0.3);
    margin-top: 0;
}

.subfooter-map {
    width: 100%;
    height: 250px;
}

/* footer */
.main-footer {
    background-color: rgb(160, 160, 160);
    color: rgba(0, 0, 0, .3);
    padding: 1rem 0;
    text-align: center;
}