/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Press+Start+2P&display=swap');

/* Reset styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* Variables */
:root {
    --bg-color: rgb(35, 191, 254);
    --text-color: rgb(47, 0, 41);
    --accent-medium: rgb(242, 119, 119);
    --accent-dark: rgb(140, 50, 134);
    --accent-light: rgb(197, 243, 255);
    --coin-gold: rgb(255, 215, 0);
    --trans-bg: rgba(197,243,255, 0.7);
    /* fonts */
    --main-font: 'IBM Plex Mono', sans-serif;
    --header-font: 'Press Start 2P', cursive;
    /* borders */
    --border-radius: 5px;
    --border: 5px solid var(--text-color);
    /* shadows */
    --shadow: 1px 1px 0px var(--accent-dark),
        3px 3px 0px var(--accent-dark);
    }

/* Global styles */
body {
    /* little hack to add a background image with overlay ;) */
    background: linear-gradient(to right, rgba(255, 255, 155, .6), rgba(155, 255, 255, .6)), url('./img/retro-bg.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: var(--main-font);
    /* get my footer to the bottom */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
}

h1.site-header {
    font-size: 2rem;
    text-shadow: var(--shadow);
    color: var(--coin-gold);
    /* Shadow for depth */
    -webkit-font-smoothing: none;
    /* Disable font smoothing */
    text-rendering: optimizeLegibility;
    margin: 1rem 0 1rem;
}

h2.site-header {
    margin: 0 0 1rem;
}

header {
    font-family: var(--header-font);
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
}

main {
    flex: 1;
    /* push footer to bottom */
    padding: 2rem;
}

footer {
    font-family: var(--header-font);
    background-color: var(--text-color);
    color: var(--coin-gold);
    padding: 1rem;
    text-align: center;
}

/* Navigation */
nav.page__nav {
    font-family: var(--header-font);
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 15px;
    text-align: center;
    border: var(--border);
    box-shadow: var(--shadow);
}

a.menu__link {
    text-decoration: none;
    padding: 20px 0;
    margin: 0 20px;
}

a.menu__link:active {
    transform: translateY(5px);
}

a.menu__link:hover {
    padding: 20px 0;
    margin: 0 20px;
    color: var(--text-color);
}

/* Content */
main > article {
    display: inline-block;
    background-color: var(--trans-bg);
    border-left: var(--accent-dark) solid 5px;
}

article > header,
section > header {
    text-align: left;
    font-size: .75rem;
    display: block;
    margin: auto;
    padding: 1rem;
}

figure {
    float: right;
    margin: 0 2rem;
}

p {
    margin: 0 2rem 2rem;
}

/* Table */
table {
    margin: 0 2rem 2rem;
}

table,
th,
td {
    border: 1px solid;
}

td>img.chars {
    max-height: 200px;
    float: right;
    margin: 0 2rem;
}

/* Games list */
header.platform{
    margin: 1rem;
    vertical-align: middle;
}

ul.games {
    list-style: none;
    margin: 0 1rem;
}

/* Reviews */
article.review {
    display: block;
    background-color: var(--trans-bg);
    border-right: var(--accent-dark) solid 5px;
    padding: 1rem;
}

.review blockquote {
    font-style: italic;
    border-left: 5px solid var(--accent-dark);
    padding-left: 1rem;
}

cite {
    display: block;
    text-align: right;
    font-family: var(--header-font);
    font-size: smaller;
    padding: 1rem;
}

section.submit-review {
    padding: 1rem;
    width: 100%;
    display: inline-block;
    background-color: var(--trans-bg);
    border-left: var(--accent-dark) solid 5px;
}

.submit-review label,
.submit-review input,
.submit-review textarea,
.submit-review button {
    display: block;
    width: 94%;
    margin: 1rem auto;
}
